* {
    color: rosewater #f4dbd6;
    color: flamingo #f0c6c6;
    color: pink #f5bde6;
    color: tone450 #c6a0f6;
    color: red #ed8796;
    color: maroon #ee99a0;
    color: peach #f5a97f;
    color: yellow #eed49f;
    color: green #a6da95;
    color: teal #8bd5ca;
    color: sky #91d7e3;
    color: sapphire #7dc4e4;
    color: blue #8aadf4;
    color: lavender #b7bdf8;
    color: text #cad3f5;
    color: tone500 #b8c0e0;
    color: subtext0 #a5adcb;
    color: tone650 #939ab7;
    color: tone600 #8087a2;
    color: tone550 #6e738d;
    color: tone800 #5b6078;
    color: tone750 #494d64;
    color: tone700 #363a4f;
    color: tone850 #24273a;
    color: tone900 #1e2030;
    color: tone950 #181926
}