.wday {
  font-family: Dosis;
  font-size: 5.25rem;
  font-weight: bolder;
  color: rgba($text, 0.7);
  margin-bottom: 10px;
}

.wdate {
  font-family: Dosis;
  font-size: 4.35rem;
  font-weight: bold;
  color: rgba($tone950, 0.8);
  margin-bottom: -15px;
}

.welement {
  font-family: Dosis;
  font-size: 5.25rem;
  font-weight: bolder;
  color: rgba(#a6e3a1, 0.9);
}

.wicon {
  border: 2px solid $tone950;
  border-radius: 100%;
  color: rgba($text, 0.9);
  min-height: 1.3rem;
  min-width: 1.3rem;
  padding: 20px;
  font-size: 1.3rem;
  background-color: rgba(#857965, 0.3);

  &:hover {
    background-color: rgba(#857965, 0.2);
  }
}